<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student info</title>
</head>
<body>

    {% if students %}
        <!-- keep table code here.. when student avaible -->

    <h1>Student Details</h1>

    <table border="1" cellpadding="10">
        <thead>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Course</th>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.roll}}</td>
                <td>{{s.course}}</td>
            </tr>

            {% endfor %}


        </tbody>

    </table>

    {% else %}
        <h1>No Student Record...</h1>
    {% endif %}

    
</body>
</html>