<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
</head>

<body>
    <!-- true or false -->
    {% if emp_list %}
    <h1 id="heading1">Employee Details</h1>
    <table border="2" cellpadding="10">
        <thead>
            <th>Emp_id</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Salary</th>
            <th>Designation</th>
            <th>Email</th>
        </thead>

        <tbody>
            <!-- ['empid','name','dob','salary','designation','email'] -->
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.empid}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.dob}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1 id="warning">No Employee Record is avaialble!!!!</h1>
    {% endif %}
</body>

</html>