<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohd Navaid</title>

    <style>
        h1{
            background-color: black;
            color:white;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This is my portfolio website.</h1>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias labore totam quam? Accusamus sapiente quis distinctio dignissimos quisquam eligendi eveniet numquam deserunt. Molestias doloribus praesentium minima reiciendis officia aperiam culpa.</p>
</body>
</html>