<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohd Navaid</title>
    <!-- favicon icon -->
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTc9K5vgzcLm8Eu-82fJmXJW-s4HIv976Z6g&s">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  
</head>
<body>
    <!-- header -->
        <!-- nav -->
            <!-- logo -->
            <!-- nav-links -->

    <header>
        <nav>
            <div class="logo">Mohd Navaid</div>
            <div class="nav-links">
                <a href="/about">About</a>
                <a href="#">Education</a>
                <a href="#">Experience</a>
                <a href="#">Contact</a>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->

    <div class="main">
        <div class="page1">
            <div class="content">
                <!-- heading. -->
                <!-- paragraph -->
                <!-- two buttons -->

                <h1>Hey, I am Mohd Navaid</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis assumenda explicabo animi ipsam earum delectus ipsa, rerum quisquam ducimus enim commodi praesentium quaerat reiciendis reprehenderit porro exercitationem corporis cumque id.</p>

                <a id="btn1" href="#" download="./resume.txt">Download Resume</a>
                <a id="btn2" href="#">Contact me</a>
            </div>
        </div>
     



        <div class="page2">
            <!-- image -->
            <img src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" alt="Server Down" id="image">
        </div>
    </div>
</body>
</html>